In [1]:
with open('input_3.txt') as the_data:
    bin_nums = the_data.read().split('\n')

In [2]:
import pandas as pd
bin_num_df = pd.DataFrame([list(a) for a in bin_nums])

In [3]:
most = ''
least = ''
for i in range(12):
    valct = bin_num_df[i].value_counts().keys()
    most += valct[0]
    least += valct[1]

In [4]:
print(most)
print(least)

011011110000
100100001111

In [5]:
gamma = int(most,base=2)
epsilon = int(least,base=2)

In [6]:
print(gamma*epsilon)

4118544

# Part 2 Restrict the dataframe after finding the most/least

In [7]:
vcounts_keys = bin_num_df[0].value_counts().keys()
oxygen_df_list = [bin_num_df.loc[bin_num_df[0] == vcounts_keys[0]]]
co2_rating = [bin_num_df.loc[bin_num_df[0] == vcounts_keys[1]]]

In [8]:
for i in range(1,12):
    current_oxygen_df = oxygen_df_list[-1]
    if len(current_oxygen_df)>1:
        vc_oxygen = current_oxygen_df[i].value_counts()
        if vc_oxygen[0] == len(current_oxygen_df)/2:
            k = '1'
        else:
            k = vc_oxygen.keys()[0]
        oxygen_df_list.append(current_oxygen_df.loc[current_oxygen_df[i] == k])
for i in range(1,12):   
    current_co2_rating = co2_rating[-1]
    if len(current_co2_rating) > 1:
        vc_co2 = current_co2_rating[i].value_counts()
        if vc_co2[0] == len(current_co2_rating)/2:
            k = '0'
        else:
            k = vc_co2.keys()[-1]
        co2_rating.append(current_co2_rating.loc[current_co2_rating[i] == k])
    else:
        break

In [9]:
ostring = ''.join(oxygen_df_list[-1].iloc[0,:])
oxygen = int(ostring,base=2)

In [10]:
cstring = ''.join(co2_rating[-1].iloc[0,:])
co2 = int(cstring,base=2)

In [11]:
co2*oxygen

3832770

   0  1  2  3  4  5  6  7  8  9  10 11
61  1  0  0  1  1  1  0  0  1  1  1  0